    <%= turbo_frame_tag 'rooms_controller' do %>
  <main class="flex w-full h-screen bg-slate-800">
    <%= render 'shared/sidebar' %>
    <section class="flex flex-col items-center justify-center gap-5 h-screen">
      <%= link_to "New room", new_room_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    </section>
  </p>
</main>
<% end %>
